// bower:scss
// endbower

/* variables */

$blue: #85d2e3;
$gray: #373837;

@import "clearfix";

/* layout */

.l-content {
  margin: 0 auto;
  max-width: 600px;
}

/* default */

body {
  background: $gray;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white;
  margin: 0;
}

section {
  text-align: center;
  margin: 50px 0;
}

p {
  text-align: left;
  font-size: 1.2em;
}

h1, h2, h3 {
  font-weight: 300;
  /* word-spacing: 0.5em; */
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
  padding-top: 100px;
}

.blue-section {
  &:before {
    top: -1px;
    position: relative;
    display: block;
    height: 35px;
    content: ' ';
    background: url("../images/gray-triangle-down.png");
  }

  &:after {
    display: block;
    height: 34px;
    content: ' ';
    background: url("../images/gray-triangle-up.png");
  }

  background: $blue;
}

.box {
  padding: 0px 20px;
  border: 4px solid white;
}

.step-container {
  margin-top: 2.5em;
  padding: 0 1em;
}

.step-name {
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0.5em;
  background: $blue;
  color: $gray
}

hr {
  width: 90%;
  border: none;
  margin: 2em auto;
  height: 1px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALUlEQVQ4EWP8DwQMRAALSwusqhiJNQCrbqAgEy4JYsVHDRgNRFBaGU0HVAgDAB6tCMDGgNzOAAAAAElFTkSuQmCC);
  background-repeat:repeat;
}

.gray-text {
  color: $gray;
}


.profile-image {
  position: absolute;
  left: -260px;
  width: 200px;

  img {
    width: 100%;
  }
}

.speech-ballon {
  &:before {
    position: absolute;
    width: 30px;
    height: 42px;
    content: ' ';
    left: -30px;
    top: 100px;
    background: url("../images/speech-ballon-arrow.png");
  }

  border-radius: 15px;
  margin-left: 200px;
  position: relative;
  width: 400px;
}

.blue-text {
  color: $blue;
}

@media (max-width: 768px) {
  body {
    font-size: 1.2em;
  }

  .profile-image {
    top: -250px;
    left: 20%;
  }

  .box {
    border: none;
  }

  .speech-ballon {
    &:before {
      position: absolute;
      width: 42px;
      height: 30px;
      content: ' ';
      left: 60%;
      top: -30px;
      background: url("../images/speech-ballon-arrow-up.png");
    }

    box-sizing: border-box;
    border: 4px solid white;
    margin-top: 270px;
    margin-left: 5%;
    width: 90%;
  }
}
